/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {}
/* hint! what do you have to add here? */

.header:after { 
 content: "";
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
  }


.logo {
	float: left;
}

.navigation {
	float: right;
}


.sidebar {
	width: 250px;
	height: 300px;
	float:left;
}

.main_content {}
/* hint! you have to contain the floated children elements. */

.main_content:after { 
 content: "";
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
  }

.sub_content {
	
}
.sub_content_2 {
	
}

.footer {
	clear: both;
}
